# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.cookies
*.DS_Store
temp/*
doc/build
doc/resources
.project
.pydevproject
.settings
.idea
*~
nano.save
.vscode
.gitignore
publish.py

# addons
/plugin.audio.radiosindia/
/plugin.video.deccandelight/
/plugin.video.f4mTester/
/plugin.video.live.streamspro/
/script.module.iso639/
/script.module.iso3166/
/script.module.isodate/
/script.module.shutil_get_terminal_size/
/script.module.shutil_which/
/script.module.slproxy/
/script.module.streamlink/
/script.video.F4mProxy/
/service.subtitles.addic7ed/
/service.subtitles.opensubtitles_by_opensubtitles/
/service.subtitles.subscene/
